<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- build:css(.) assets/styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/ladda/dist/ladda.min.css" />
        <link rel="stylesheet" href="bower_components/bootstrap-colorpicker/css/colorpicker.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) assets/styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <div class="container">
            <div class="centerblock">
                <h1>{{title}}</h1>
                <p class="lead">{{description}}</p>
                <form id="main" role="form" method="POST" action="/">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-xs-12">
                                <input type="text" name="color" id="color" class="form-control input-lg" value="#ffffff" />
                            </div>
                            <div class="col-md-10 col-xs-12">
                                <input type="text" name="comment" id="comment" class="form-control input-lg" placeholder="在这里输入吐槽" />
                            </div>
                        </div>
                        <div class="row spaceout">
                            <div class="col-md-12">
                                <button type="submit" id="submit" class="ladda-button form-control input-lg" data-color="blue" data-style="zoom-in">
                                    <span class="ladda-label">吐槽！</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <footer class="centerblock muted">
                <hr />
                Copyright &copy; 2015 风蓝动漫社 技(chu)术(shou)组
            </footer>
        </div>

        <!-- build:js(.) assets/scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/spin.js/spin.js"></script>
        <script src="bower_components/ladda/dist/ladda.min.js"></script>
        <script src="bower_components/ladda/dist/ladda.jquery.min.js"></script>
        <script src="bower_components/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
        <script src="bower_components/js-cookie/src/js.cookie.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js(.) assets/scripts/plugins.js -->
        <script src="bower_components/bootstrap/js/affix.js"></script>
        <script src="bower_components/bootstrap/js/alert.js"></script>
        <script src="bower_components/bootstrap/js/dropdown.js"></script>
        <script src="bower_components/bootstrap/js/tooltip.js"></script>
        <script src="bower_components/bootstrap/js/modal.js"></script>
        <script src="bower_components/bootstrap/js/transition.js"></script>
        <script src="bower_components/bootstrap/js/button.js"></script>
        <script src="bower_components/bootstrap/js/popover.js"></script>
        <script src="bower_components/bootstrap/js/carousel.js"></script>
        <script src="bower_components/bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/bootstrap/js/collapse.js"></script>
        <script src="bower_components/bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) assets/scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
    </body>
</html>
